<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">OpenEduNav escape</h2>

            <h3 class="oe_slogan">La gesti&oacute;n eficiente de los estudiantes, facultades, cursos y clases con una
                plataforma de colaboraci&oacute;n</h3>
        </div>

        <div class="oe_span12">
            <p class="oe_mt32">
                Sobre la base de lo mejor de la arquitectura a nivel de empresa de clase, OpenEduNav escape est&aacute;
                listo
                para ser utilizado en ambientes como la infraestructura local o un entorno de nube altamente escalable.
            </p>

            <div class="oe_centeralign oe_websiteonly">
                <a href="http://www.manexware.com/contactus/" class="oe_button oe_big oe_tacky">Contact Us</a>
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Informaci&oacute;n del Estudiante en un Click</h2>

        <div class="oe_span6">
            <p class="oe_mt32">
                Un sistema completo de gesti&oacute;n de los estudiantes, lo que facilita el almacenamiento de toda la
                informaci&oacute;n relacionada a los estudiantes, tales como direcci&oacute;n, grupo sangu&iacute;neo,
                logros y mucho m&aacute;s.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="student.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">
            M&aacute;s f&aacute;cil la Gesti&oacute;n de la academia </h2>

        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture" src="faculty.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
                Sistema de gesti&oacute;n de la Facultad con el sistema de gesti&oacute;n de recursos humanos integrada
                proporciona un control total sobre la informaci&oacute;n relacionada con los profesores como de grado,
                las habilidades y la n&oacute;mina.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Inscripci&oacute;n</h2>

        <div class="oe_span6">
            <p class="oe_mt32">
                Incorporada, proceso de inscripci&oacute;n de flujo de trabajo impulsado permite instituto para seguir
                un flujo de proceso transparente con informaci&oacute;n detallada de cada etapa. Haciendo proceso de
                inscripci&oacute;n es una tarea f&aacute;cil. </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="enrollment.png">
            </div>
        </div>
    </div>
</section>


<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Clase</h2>

        <div class="oe_span6">
            <p class="oe_mt32">
                Sistema de Gesti&oacute;n de la Clase gestiona supuesto, lote, clase y divisi&oacute;n en diversas
                formas de simplificar la estructura educativa. </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="wargames.png">
            </div>
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Reportes</h2>

        <div class="oe_span6">
            <p class="oe_mt32">

                Informes detallados sobre todos los objetos, el suministro de informaci&oacute;n para instituir sobre el
                desempeño de los estudiantes y ayudarles a establecer facultades de referencia y expectativas derecha.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="reporting.png">
            </div>
        </div>
    </div>
</section>
