<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">OpenEduCat Parent</h2>
            <h3 class="oe_slogan">Manage Parent Login</h3>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <a href="http://openeducat.org/demo"> <img
                        src="openeducat_logo.png">
                </a>
                <div class="oe_demo_footer oe_centeralign">Online Demo</div>
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">This module allows you to manage parent login.
                You can have parent details of students.</p>
            <div class="oe_centeralign oe_websiteonly">
                <a href="http://www.openeducat.org/contactus/"
                   class="oe_button oe_big oe_tacky">Contact Us</a>
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Parent</h2>
        <div class="oe_span6">
            <p class="oe_mt32">Parent can see his child's activity & other
                details.</p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="parent.png">
            </div>
        </div>
    </div>
</section>

<section class="jumbotron"
         style="color: white; background-color: #606061;">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <p class="mt16">
                    <strong>Need help or just looking for more information on OpenEduCat ?
                        We are ready and waiting for your questions.</strong>
                </p>
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary btn-lg pull-right mt8"
                   style="color: #FFFFFF !important;"
                   href="https://www.openeducat.org/page/website.contactus"><i
                        class="fa fa-arrow-right"></i> Contact Us Now </a>
            </div>
        </div>
    </div>
</section>
