<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">OpenEduNav</h2>

            <h3 class="oe_slogan">La gesti&oacute;n eficiente de los estudiantes, facultades, cursos y clases con una
                plataforma de colaboraci&oacute;n</h3>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <a href="http://www.manexware.com">
                    <img src="openedunav_core_banner.jpg">
                </a>

                <div class="oe_demo_footer oe_centeralign">M&aacute;s Informaci&oacute;n</div>
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
                Sobre la base de lo mejor de la arquitectura a nivel de empresa de clase, OpenEduNav est&aacute; listo
                para ser utilizado en ambientes como la infraestructura local o un entorno de nube altamente escalable.
            </p>

            <div class="oe_centeralign oe_websiteonly">
                <a href="http://www.manexware.com/contactus/" class="oe_button oe_big oe_tacky">Contact Us</a>
            </div>
        </div>
    </div>
</section>