<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">OpenEduNav Physical Proof</h2>
            <h3 class="oe_slogan">Pruebas f&iacute;sicas</h3>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <a href="http://www.manexware.com"> <img
                        src="openedunav_proof_banner.png">
                </a>
                <div class="oe_demo_footer oe_centeralign">M&aacute;s informaci&oacute;</div>
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">M&oacute; para el ingreso de los resultados de las pruebas f&iacute;sicas</p>
        </div>
    </div>
</section>