<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Manex Field Mask</h2>
        <h3 class="oe_slogan"></h3>
        <div class="oe_demo oe_picture  oe_screenshot">
            <img src="screen.png">
        </div>
		<div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <div class="oe_span12 oe_centeralign">
            <br/>
            <h3>Help & Support</h3>
            <br/>
                Website: <a href="https://www.manexware.com" target="_blank">Manexware S.A.</a><br/>
                Contact: <a href="mailto:manuel.vega@manexware.com" subject="Material/United Backend Theme v10">Email Support</a><br/>
            <br/>
        </div>
    </div>
</section>
