<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">OpenEduNav Reportes Aguena</h2>
            <h3 class="oe_slogan">Reportes del Sistema para AGUENA</h3>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <a href="http://www.github.com/manexware"> <img
                        src="openedunav_report_banner.png">
                </a>

            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">Este modulo adiciona los reportes para AGUENA.</p>
            <div class="oe_centeralign oe_websiteonly">
                <a href="http://manexware.com/contacto.html"
                   class="oe_button oe_big oe_tacky">Contactanos</a>
            </div>
        </div>
    </div>
</section>


<section class="jumbotron"
         style="color: white; background-color: #606061;">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <p class="mt16">
                    <strong>Necesita ayuda o informacion sobre el sistema.</strong>
                </p>
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary btn-lg pull-right mt8"
                   style="color: #FFFFFF !important;"
                   href="http://manexware.com/contacto.html"><i
                        class="fa fa-arrow-right"></i> Contactenos</a>
            </div>
        </div>
    </div>
</section>
