<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Localizaci&oacute;n Base Ecuador</h2>
        <h3 class="oe_slogan">Localizaci&oacute;n Ecuador</h3>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="base_banner.png" alt="Online Demo">
                <div class="oe_demo_footer oe_centeralign">Odoo Ecuador</div>
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
                Localizaci&oacute;n Ecuador 20116 </p>
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row">
        <div class="oe_span12">
            <h2 class="oe_slogan">Desarrollado por Manexware S.A.</h2>
            <h3 class="oe_slogan">Expertos en Odoo</h3>
        </div>
        <div class="oe_span6">
            <img class="oe_picture" style="margin-top:45px; float:right" src="logo_odoo.png">
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
                Vis&iacute;tanos en:<br/>
                <a href="http://www.manexware.com" title="Manexware S.A." target="_blank">www.manexware.com</a>
            </p>
            <h2>
                <a href="https://www.facebook.com/manexware">
                    <i class="fa fa-facebook-square"></i>
                </a>
                <a href="https://twitter.com/eudoro69">
                    <i class="fa fa-twitter"></i>
                </a>
            </h2>
        </div>
    </div>
</section>
